.deck-box {
  display: flex;
  justify-content: space-between;
}

.deck-box > :nth-child(2) { /* The 'frame' or 'text-frame' */
  min-height: 420px;
  max-height: 70vh;
  height: auto;
  overflow-y: auto;
}

.text-frame {
  padding: 10px;
  min-height: 420px;
  max-height: 70vh;
  height: auto;
  overflow-y: auto;
  border: 1px solid grey;
  border-radius: 5px;
}
